.register
  %h1 Register with Cryptocurrency
  - Bitcoin::NETWORKS.each do |net, info|
    .currency
      =link_to action: :pay, network: net do
        =image_tag "#{net}.png"
        Pay with #{net.to_s.capitalize}